
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

.header {
  background-color: cornflowerblue;
  color: white;
  padding: 15px;
  text-align: center;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul li {
  display: inline;
  margin: 0 15px;
}

.header a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header a:hover {
  color: #ff6347;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

#taskForm {
    width: 50%;
    margin: 0 auto;
    background-color: cornflowerblue;
}

#description {
    width: ;
}
 
input, select, button, textarea {
  padding: 10px;
  margin: 20px 0 0 80px;
  width: 80%;
  max-width: 0 auto;
  box-sizing: border-box;
  border-radius: 12px;
}

button {
    margin-bottom: 15px;
}

.task {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  background: #fff;
}

.task h3 {
  margin: 0;
}

.task p {
  margin: 5px 0;
}

.delete {
  color: red;
  cursor: pointer;
}